In [1]:
import pandas as pd
import numpy as np
import os

from env import host, user, password

In [2]:
def get_connection(db, user=user, host=host, password=password):
    return f'mysql+pymysql://{user}:{password}@{host}/{db}'

In [14]:
sql_query = '''
            SELECT properties_2017.parcelid, properties_2017.id, bathroomcnt, bedroomcnt, calculatedbathnbr, calculatedfinishedsquarefeet, fips, latitude, longitude, regionidcounty, roomcnt, yearbuilt, taxvaluedollarcnt, assessmentyear, propertycountylandusecode, propertylandusetypeid
            FROM properties_2017
            JOIN predictions_2017 ON properties_2017.parcelid = predictions_2017.parcelid
            WHERE transactiondate BETWEEN '2017-05-01' AND '2017-06-30'
            AND propertylandusetypeid = '261' OR '262' OR '263' OR '264' OR '268' OR '273' OR '274' OR '275' OR '276' OR '279';
            
            '''
df = pd.read_sql(sql_query, get_connection('zillow'))
df.to_csv('zillow_df.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 77614 entries, 0 to 77613
Data columns (total 16 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   parcelid                      77614 non-null  int64
 1   id                            77614 non-null  int64
 2   bathroomcnt                   77580 non-null  float64
 3   bedroomcnt                    77580 non-null  float64
 4   calculatedbathnbr             76964 non-null  float64
 5   calculatedfinishedsquarefeet  77379 non-null  float64
 6   fips                          77580 non-null  float64
 7   latitude                      77580 non-null  float64
 8   longitude                     77580 non-null  float64
 9   regionidcounty                77580 non-null  float64
 10  roomcnt                       77580 non-null  float64
 11  yearbuilt                     77310 non-null  float64
 12  taxvaluedollarcnt             77579 non-null  float64
 13  assessmentyear                77580 non-null  float64
 14  propertycountylandusecode     77580 non-null  object
 15  propertylandusetypeid         77580 non-null  float64
dtypes: float64(13), int64(2), object(1)
memory usage: 9.5+ MB

In [15]:
def get_zillow_data():
    filename = "zillow_df.csv"
    if os.path.isfile(filename):
        return pd.read_csv(filename)
    else:
        # read the SQL query into a dataframe
        df = pd.read_sql('''SELECT properties_2017.parcelid, properties_2017.id, bathroomcnt, bedroomcnt, calculatedbathnbr, calculatedfinishedsquarefeet, fips, latitude, longitude, regionidcounty, roomcnt, yearbuilt, taxvaluedollarcnt, assessmentyear, propertycountylandusecode, propertylandusetypeid FROM properties_2017 JOIN predictions_2017 ON properties_2017.parcelid = predictions_2017.parcelid WHERE transactiondate BETWEEN '2017-05-01' AND '2017-06-30' AND propertylandusetypeid = '261' OR '262' OR '263' OR '264' OR '268' OR '273' OR '274' OR '275' OR '276' OR '279';''', get_connection('zillow'))
        # Write that dataframe to disk for later. Called "caching" the data for later.
        df.to_file(filename)

        # Return the dataframe to the calling code
        return df