In [2]:
# In this kernel, I am setting up my notebook so that I may run all my functions and add ons appropriately
from scipy import stats
from math import sqrt
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns




from sklearn.model_selection import train_test_split



import warnings
warnings.filterwarnings("ignore")
import prepare_kwame

In [3]:
df, train, validate, test, X_train, X_validate, X_test, y_train, y_validate, y_test = prepare_kwame.prepare_zillow()

In [4]:
df.head()

,parcelid,id,bathroomcnt,bedroomcnt,calculatedfinishedsquarefeet,taxvaluedollarcnt
0,14297519,1727539,3.5,4.0,3100.0,1023282.0
1,17052889,1387261,1.0,2.0,1465.0,464000.0
2,14186244,11677,2.0,3.0,1243.0,564778.0
3,12177905,2288172,3.0,4.0,2376.0,145143.0
4,10887214,1970746,3.0,3.0,1312.0,119407.0

<h3> Hypothesis Testing </h2>

First Hypothesis<br><br>
$H_0$: Bathroom has no correlation on the tax value.<br>
$H_a$: Bathroom has a correlation with the tax value.<br>
correlation pearsons r coefficient

In [ ]:
n = df.shape[0]     # number of observations
degf = n - 2        # degrees of freedom: the # of values in the final calculation of a statistic that are free to vary.
conf_interval = .95 # desired confidence interval
α = 1 - conf_interval

In [9]:
# Testing the 1st hypothesis
r, p = stats.pearsonr(df.bathroomcnt, df.taxvaluedollarcnt)
r, p

(0.471765070343626, 0.0)

In [10]:
#Comparing my p value against my α
p < α

True

In [11]:
print("Since p is less than α, we reject our null hypothesis that bathroom has no effect on the tax value.")

Since p is less than α, we reject our null hypothesis that bathroom has no effect on the tax amount.

Second Hypothesis<br><br>
$H_0$: There is no correlation between finished square feet and tax value.<br>
$H_a$: There is a correlation between finished square feet and tax value.<br>

In [8]:
n = df.shape[0]     # number of observations
degf = n - 2        # degrees of freedom: the # of values in the final calculation of a statistic that are free to vary.
conf_interval = .95 # desired confidence interval
α = 1 - conf_interval

In [12]:
# Testing the 1st hypothesis
r, p = stats.pearsonr(df.calculatedfinishedsquarefeet, df.taxvaluedollarcnt)
r, p

(0.583156301196327, 0.0)

In [14]:
#Comparing my p value against my α
p < α

True

In [19]:
print("Since p is less than α, we reject our null hypothesis that there is no correlation between finished square feet and tax value.")

Since p is less than α, we reject our null hypothesis that there is no correlation between finished square feet and tax value.

In [ ]:
# settting the random seed so that each reproduction will get the same numbers
np.random.seed(76)

In [ ]:
train.taxvaluedollarcnt.value_counts().sort_index().plot(color='palevioletred')
tax_rate = train.taxvaluedollarcnt.mean()
plt.title(f"Overall Tax rate: {tax_rate:.2%}")
plt.xlabel('Tax')
plt.ymin

In [ ]:
# sort = false will sort the bin values as opposed to the frequency counts
# value counts of tax_value_dollar_count by binning
train.taxvaluedollarcnt.value_counts(bins=5, sort=False)

In [ ]:
#visualizing the distribution of monthly charges
sns.distplot(train.taxvaluedollarcnt)

In [ ]:
plt.figure(figsize=(12, 10))
plt.suptitle('Boxplots of Datawith Seaborn')

plt.subplot(221)
sns.boxplot(data=train, y='bathroomcnt')
plt.title('A "typical" boxplot')

plt.subplot(222)
sns.boxplot(data=train, x='bedroomcnt')
plt.title('Rotated 90$\degree$')

plt.subplot(223)
sns.boxplot(data=train, y='calculatedfinishedsquarefeet', x='taxvaluedollarcnt')
plt.title('Providing an x and y value groups the data')

plt.subplots_adjust(hspace=0.4)

In [ ]:
sns.heatmap(train, annot=True, cmap=plt.cm.Greens)