In [38]:
# In this kernel, I am setting up my notebook so that I may run all my functions and add ons appropriately
from scipy import stats
from math import sqrt
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns




from sklearn.model_selection import train_test_split



import warnings
warnings.filterwarnings("ignore")
import prepare_kwame

In [44]:
df, train, validate, test, X_train, X_validate, X_test, y_train, y_validate, y_test = prepare_kwame.prepare_zillow()

In [45]:
df.head()

,parcelid,id,bathroomcnt,bedroomcnt,calculatedfinishedsquarefeet,taxvaluedollarcnt,taxamount,transactiondate
0,14297519,1727539,3.5,4.0,3100.0,1023282.0,11013.72,2017-01-01
1,17052889,1387261,1.0,2.0,1465.0,464000.0,5672.48,2017-01-01
2,14186244,11677,2.0,3.0,1243.0,564778.0,6488.30,2017-01-01
3,12177905,2288172,3.0,4.0,2376.0,145143.0,1777.51,2017-01-01
4,10887214,1970746,3.0,3.0,1312.0,119407.0,1533.89,2017-01-01

<h3> Hypothesis Testing </h2>

First Hypothesis<br><br>
$H_0$: Bathroom has no effect on the tax amount.<br>
$H_a$: Bathroom has an effect on the tax amount.<br>
correlation pearsons r coefficient

In [47]:
n = df.shape[0]     # number of observations
degf = n - 2        # degrees of freedom: the # of values in the final calculation of a statistic that are free to vary.
conf_interval = .95 # desired confidence interval
α = 1 - conf_interval

In [49]:
# Testing the 1st hypothesis
r, p = stats.pearsonr(df.bathroomcnt, df.taxamount)
r, p

(0.47737848454947196, 0.0)

In [50]:
#Comparing my p value against my α
p < α

True

Second Hypothesis<br><br>
$H_0$: There is no difference in property values between properties with last the transaction in May 2017 and June 2017.<br>
$H_a$: There is a difference in property values between properties with last the transaction in May 2017 and June 2017.<br> t test